include LICENSE AUTHORS README CHANGES
recursive-include docs *
recursive-include lantz *

include *.txt
include lantz/qt/blocks/*.ui
include lantz/qt/assets/fedora.png
include lantz/qt/assets/fungen.ui
include .travis.yml

global-exclude *.pyc *.pyo .DS_Store
prune docs/_build
prune docs/_themes/.git
